version: "3.9"

services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: duban
      MONGO_INITDB_ROOT_PASSWORD: superpassword
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: 